* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: auto;
	margin-top: 2rem;
	padding-bottom: 8rem;
}

h1,
h2 {
	text-align: center;
}

header {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.content {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 2rem;
	padding-bottom: 8rem;
}

.container {
	height: 100vh;
	width: 100vw;
}

.coverPhotos {
	height: 432px;
	/*margin: 4rem;*/
	width: 288px;
}

.genrePhotos {
	display: flex;
	height: 150px;
	justify-content: space-between;
	margin: 4rem;
	width: 150px;
}

.genre-item,
.movie-item {
	display: inline-flex;
	/*flex-direction: column;*/
	justify-content: center;
}

.genre-review,
.rating-review {
	display: flex;
	height: 432px;
	justify-content: space-between;
	width: 288px;
}

.genre-movies,
.genres,
.movies,
.ratings {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.movie-photo {
	height: 82vh;
	padding-left: 2rem;
	padding-bottom: 60px;
	padding-right: 20px;
	padding-top: 2rem;
	width: 28vw;
}

.movie-review,
.review-genre,
.review-rating {
	line-height: 1.5rem;
	text-align: center;
}

.movie-review {
	font-size: 20px;
	padding-left: 1rem;
	padding-right: 2rem;
	padding-top: 4rem;
	text-align: left;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.nav-bar:first-child {
	margin-left: 10rem;
}

.nav-bar:last-child {
	margin-right: 10rem;
}

.ratings {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-left: 4rem;
	padding-top: 2rem;
}

.rating-content {
	display: flex;
	justify-content: center;
}

.review-content {
	display: flex;
	justify-content: center;
	padding-bottom: 10rem;
}