@import url('https://fonts.googleapis.com/css?family=Abel|Anton|Barlow|Barlow+Condensed|Barlow+Semi+Condensed|Cairo|Fjalla+One|Gloria+Hallelujah|Indie+Flower|Oswald');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Cabin+Sketch|Caveat|Caveat+Brush|Codystar|Fascinate+Inline|Fredericka+the+Great|Gochi+Hand|Londrina+Sketch|Margarine|Megrim|Permanent+Marker|Sirin+Stencil|Special+Elite|Swanky+and+Moo+Moo|Trochut');

a {
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px gray;
}

a:hover {
	color: gold;
}

body {
	background-attachment: fixed;
	background-color: black;
	background-size: cover;
	color: white;
	font-family: 'Barlow Condensed', sans-serif;
	/*font-family: 'Caveat Brush', cursive;*/
	/*font-family: 'Special Elite', cursive;*/
	/*font-family: 'Gochi Hand', cursive;*/
	/*font-family: 'Margarine', cursive;*/
}

h1,
h2 {
	font-family: 'Fascinate Inline', cursive;	
}

h1 {
	font-size: 48px;
	text-shadow: 2px 2px black;
}

h2 {
	font-size: 56px;
}

header {
	background-color: transparent;
	background-image: url("../images/theater5headerfade.png");
	padding-top: 1rem;
	text-align: center;
}

ul li {
	list-style-type: none;
}

.add-genre-prompt {
	font-size: 20px;
}

.comment-button {
	width: 20%;
}

.comments-title {
	font-size: 18px;
}

.movie-review {
	font-size: 20px;
}	

.movie-title {
	font-size: 24px;
}

.nav-item {
	background-color: gold;
	border-style: outset;
	border-color: gold;
	border-width: 6px;
	font-size: 22px;
	padding: 3px;
	text-shadow: 1px 1px gray;
}

.rating-content {
	font-size: 90px;
}

.rating-icons {
	text-shadow: 4px 4px gray;
}

.review-genre {
	font-size: 24px;
}

.review-rating {
	font-size: 32px;
}