<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Movie Genres</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css"/>
	<link rel="stylesheet" type="text/css" href="./css/layout.css"/>
</head>

<body>
	<div class="container">
		<header>
			<h1>Movie Genres</h1>
			<nav>
				<ul class="nav-bar">
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/reviews">Home</a></li>
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/genres">Genres</a></li>
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/ratings">Ratings</a></li>
				</ul>
			</nav>
		</header>

		<section class="content">
			<div th:each="genre: ${genres}">
				<ul class="genres">
					<li class="genre-item">
						<a id="link" th:href="@{/genre(id=${genre.id})}">
							<img class="genrePhotos" th:src="${genre.genreImage}"/>
							<figcaption class="genre-title" th:text="${genre.genre}"></figcaption></a>
						</li>
					</ul>
				</div>
			</section>
			
		</div> <!-- container -->
	</body>
	</html>