<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Movie Genre</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css"/>
	<link rel="stylesheet" type="text/css" href="./css/layout.css"/>
</head>

<body>
	<div class="container">
		<header>
			<h1>Movie Genre</h1>
			<nav>
				<ul class="nav-bar">
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/reviews">Home</a></li>
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/genres">Genres</a></li>
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/ratings">Ratings</a></li>
				</ul>
			</nav>
		</header>

		<h2 th:text="${genre.genre}"></h2>
		
		<section class="content">
			<div th:each="currentMovie: ${genre.genresForMovies}">
				<ul class="genre-movies">
					<li>
						<!-- <a id="link" th:href="@{/reviews(id=${genre.genresForMovies})}"> -->
						<a id="link" th:href="@{/review(id=${currentMovie.id})}">
							<img class="genre-review" th:src="${currentMovie.imageUrl}"/></a>
						</li>
					</ul>
				</div>
			</section>
		</div> <!-- container -->
	</body>
	</html>