<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Movie Review</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css"/>
	<link rel="stylesheet" type="text/css" href="./css/layout.css"/>
</head>
<body>
	<div class="container">
		<header>
			<h1>Movie Review</h1>
			<nav>
				<ul class="nav-bar">
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/reviews">Home</a></li>
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/genres">Genres</a></li>
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/ratings">Ratings</a></li>
				</ul>
			</nav>
			<small id="copyright">&copy; 2017</small>
		</header>

		<h2 class="page-title" th:text="${review.movieTitle.toUpperCase()} + ', ' + ${review.releaseYear}"></h2>
		
		<section class="categories">
			<a class="review-rating" th:href="@{/rating(id=${review.rating.id})}" th:text="'Rated ' + ${review.rating}"></a>
			<p class="review-rating divider" th:text="'|'"/>
			
		<div class="review-genre">						
			<form method="POST">
				<input name="reviewId" type="hidden" th:value="${review.id}" />
				<ul>
					<li th:each="genre: ${review.movieGenres}">
            			<a th:href="@{/genre(id=${genre.id})}" th:text="${genre.genre}"></a>
					<button id="delete-genre" name="genreId" th:value="${genre.id}" th:formaction="@{/remove-genre}">X</button>
					</li>
				</ul>
			</form>
				
			</div>
		</section>

		<section class="add-genre">
		<form method="POST">
			<input name="id" type="hidden" th:value="${review.id}"/>
			<label>Enter a genre to add: <input type="text" name="genreName" /></label>
			<input type="hidden" name="genreImage" />
						<!-- <label>Enter an image URL for that genre:<input type="url" name="genreImage" /></label> -->
			<!-- <button th:formaction="@{/add-genre}">Add</button> -->
			<button th:formaction="@{/add-genre(id=${review.id})}">Add</button>
		</form>
		</section>
		
		<div class="body-content">
				<img class="movie-photo" alt="${review.movieTitle} + ' Image'" th:src="${review.imageUrl}"/>		
			<section class="review-content">
				<blockquote class="movie-review" th:text="${review.myMovieReview}"></blockquote>
			
				<section class="comments-section" id="comments">
	           	 	<p class="comments-title">Comments:</p>
	           		
	           		<div id="comment-content">
	           		</div> <!-- comment-content -->

	           	 	<button class="submit-comment">Add Comment</button>
	        	</section> <!-- comments section -->

			</section> <!-- review-content -->
		</div> <!-- body-content -->


	</div> <!-- container -->
	<script src="./js/app.js"></script>
</body>
</html>