<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Movie Reviews</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css"/>
	<link rel="stylesheet" type="text/css" href="./css/layout.css"/>
</head>

<body>
	<div class="container">
		<header>
			<h1>Movie Reviews</h1>
			<nav>
				<ul class="nav-bar">
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/reviews">Home</a></li>
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/genres">Genres</a></li>
					<li><a th:class="nav-item" id="link" href="http://localhost:8080/ratings">Ratings</a></li>
				</ul>
			</nav>
		</header>

		<section class="content">
			<div th:each="review: ${reviews}">
				<ul class="movies">
					<li class="movie-item">
						<a id="link" th:href="@{/review(id=${review.id})}">
							<img class="coverPhotos" alt="${review.movieTitle} + ' Image'" th:src="${review.imageUrl}"/>
							<figcaption class="movie-title" th:text="${review.movieTitle}"></figcaption></a>
						</li>
					</ul>
				</div>
			</section>

		</div> <!-- container -->
	</body>
	</html>